.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 1420px;
  /* box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px; */
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #E0DEDC;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.btn-primary {
  background-color: #40A989 !important;
  width: 200px;
  margin: auto;
  /* margin-left: 20px;
  margin-right: 20px; */
} 
.text-center1 {
  align-items: center !important;

}
.intro{
  margin: auto;
}

.btn-info {
  background-color: #40A989 !important;
  width: 200px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
} 