
body{
  background-color: white;
}
.dropdown{
  padding: 12px;
  max-width: 320px;
  position: relative;
  /* background-color: white; */
  border-radius: 5px;
}
.custom-dropdown-selection{
  background-color: white;
  border-radius: 5px;
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
}
.custom-dropdown-selection::after{
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #0003;
  border-bottom: 2px solid #0003;
  transform: rotate(45deg);
  position:absolute;
  right: 15px;
  top:12px;

} 

 .custom-dropdown-selection.visible::after{
  top:18px;
  transform: rotate(-135deg);


}

.dropdown .items-holder{
  border-radius: 5px;
  background-color: white;
  position:absolute;
  top: 40px;
  width: 320px;

}
.dropdown .items-holder .dropdown-item{
  padding: 10px, 16px;
  cursor: pointer;
}

.dropdown .items-holder .dropdown-item:hover{
  background-color:bisque
}

.container {
  max-width: 1230px;
  margin:auto;
}

.btn {
  color: white;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #40A989 0%, #40A989 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: .4s;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  border-bottom: none;
}
/* Checkout Styling */

.formContainer label{
  margin-left: 20px;
}

.mpesaForm{
  display: block;
  align-items: center;
}
.mpesaForm label{
  margin-left: 10px;
}

.mpesaForm input{
  margin-left: 10px;
}
form h2{
  justify-content: center;
  margin-left: 160px ;

}

form h4{
margin-left: 10px;

}
.radioButton input{

  margin-left: 100px;
}
.bankForm {

 
  display:block;
  align-items: center;
 
}
.bankForm select{
  margin-top:10px;
}
 label .option{
  margin-top: 10px;
  margin-left: 50px;

}
 .enter{
  margin-top: 50px;
 
}         
.bankForm input{
  margin-left: 15px;
  border-radius: 10px;
}       
.bankForm select{
  width: 200x;
  height: 30px;
  border: 5px;
  font-size: 15px;
  font-weight: bold;

}
.radioForm{
  display: block;
}
.radioButton input{
  background-color: red;
  margin-left: 30px;
}
.labelsMpesa{
  margin-left: 20px;
  margin-top: 51px;
}
.labelsBank {
  margin-left: 20px;
  margin-top: 2px;
}
