/* body {
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}



body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* form{
  display: block;
  background-color: brown;
} */

/* Add Property Styling */
.addProperty{
  position: relative;
  top: 5%;
  left: 40%;
  width: 400px;
  height: 650px;
  background-color:lightyellow;
  margin-top: 100px;
  border-radius: 10px;
  border-style: solid;
     
}
form input{
  display: block;
  margin-top: 10px;
  margin-left: 50px;
  width: 300px;
  height: 30px;
  border-style:none;
  font-size: 18px;
  
  
}
form textarea {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  width: 300px;
  border-radius: 10px;
  height: 50px;

}
form button {
  
 background-color: green;
 margin-left: 150px;
 margin-top: 20px;
 width: 100px;
 height: 40px;
 align-items: center;
 border-radius: 10px;
 border-style: none;

}
form label{
  margin-left: 50px;
  margin-top: 50px;
  font-size:large;
}
.propType select{
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
.propType label{
  margin-left: 50px;
}
.propType{
  padding: 10px;
}

form label .desc{
  padding-top: 10px;
}
h3{
  align-content: center;
}
#sellTitle{
  margin-left:150px ;
  font-size: large;
  font: bolder;
}
body{
  background-color: white;
}
.dropdown{
  padding: 12px;
  max-width: 320px;
  position: relative;
  /* background-color: white; */
  border-radius: 5px;
}
.custom-dropdown-selection{
  background-color: white;
  border-radius: 5px;
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
}
.custom-dropdown-selection::after{
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #0003;
  border-bottom: 2px solid #0003;
  transform: rotate(45deg);
  position:absolute;
  right: 15px;
  top:12px;

} 

 .custom-dropdown-selection.visible::after{
  top:18px;
  transform: rotate(-135deg);


}

.dropdown .items-holder{
  border-radius: 5px;
  background-color: white;
  position:absolute;
  top: 40px;
  width: 320px;

}
.dropdown .items-holder .dropdown-item{
  padding: 10px, 16px;
  cursor: pointer;
}

.dropdown .items-holder .dropdown-item:hover{
  background-color:bisque
}
.Checkout{

  background-color:darkgray;
  width: 500px;
  height: 700px;
  position: relative;
  top: 5%;
  left: 40%;
  margin-top: 100px;

}
.container {
  max-width: 1230px;
  margin:auto;
}

.btn {
  color: white;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #40A989 0%, #40A989 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: .4s;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  border-bottom: none;
}
/* Checkout Styling */
.formContainer{
  background-color:darkgray;
  max-width: 600px;
  height: 700px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}
.formContainer label{
  margin-left: 20px;
}

.mpesaForm{
  display: block;
  align-items: center;
}
.mpesaForm label{
  margin-left: 10px;
}

.mpesaForm input{
  margin-left: 10px;
}
form h2{
  justify-content: center;

}

form h4{
margin-left: 10px;

}
.radioButton input{

  margin-left: 100px;
}
.bankForm {

 
  display:block;
  align-items: center;
 
}
.bankForm select{
  margin-top:10px;
}
 label .option{
  margin-top: 10px;
  margin-left: 50px;

}
 .enter{
  margin-top: 50px;
 
}         
.bankForm input{
  margin-left: 15px;
  border-radius: 10px;
}       
.bankForm select{
  width: 200x;
  height: 30px;
  border: 5px;
  font-size: 15px;
  font-weight: bold;

}