@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}



body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1230px;
  margin:auto;
}

.btn {
  color: white;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #40A989 0%, #40A989 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: .4s;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  border-bottom: none;
}


