/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* form{
  display: block;
  background-color: brown;
} */
.addProperty{
  position: relative;
  top: 5%;
  left: 40%;
  width: 400px;
  height: 600px;
  background-color:lightyellow;
  margin-top: 100px;
  border-radius: 10px;
  border-style: solid;
     
}
form input{
  display: block;
  margin-top: 10px;
  margin-left: 50px;
  width: 300px;
  height: 25px;
  border-style:none;
  
  
}
form textarea {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  width: 300px;
  border-radius: 10px;
  height: 80px;

}
form button {
  
 background-color: green;
 margin-left: 200px;
 margin-top: 20px;
 width: 100px;
 height: 40px;
 align-items: center;
 border-radius: 10px;
 border-style: none;

}
form label{
  margin-left: 50px;
  margin-top: 10px;
}
h3{
  align-content: center;
}
#sellTitle{
  margin-left:180px ;
}
body{
  background-color: white;
}
.dropdown{
  padding: 12px;
  max-width: 320px;
  position: relative;
  /* background-color: white; */
  border-radius: 5px;
}
.custom-dropdown-selection{
  background-color: white;
  border-radius: 5px;
  padding: 10px 16px;
  cursor: pointer;
  position: relative;
}
.custom-dropdown-selection::after{
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #0003;
  border-bottom: 2px solid #0003;
  transform: rotate(45deg);
  position:absolute;
  right: 15px;
  top:12px;

} 

 .custom-dropdown-selection.visible::after{
  top:18px;
  transform: rotate(-135deg);


}

.dropdown .items-holder{
  border-radius: 5px;
  background-color: white;
  position:absolute;
  top: 40px;
  width: 320px;

}
.dropdown .items-holder .dropdown-item{
  padding: 10px, 16px;
  cursor: pointer;
}

.dropdown .items-holder .dropdown-item:hover{
  background-color:bisque
}
.Checkout{

  background-color:darkgray;
  width: 500px;
  height: 700px;
  position: relative;
  top: 5%;
  left: 40%;
  margin-top: 100px;

}