.good img{
    height: 500px;
    border-radius: 10px;
    width: 600px;
    margin-top: -120px;
}



.text {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 95%;
    margin: 1rem;
    gap: 3px;
}

.good h1 {
    margin: 0;
    font-size: 2.5rem;
    padding-top: 100px;
    margin-left: 230px;
    margin-top: 70px;
    /* border-bottom: 2px solid gold;
    display: inline; */
    
    
}

.good p{
    font-size: 1.8rem;
    margin-right: 200px;
    margin-left: 200px;
}

.good  h1 {
    border-bottom: 3px solid  #e6d265 ;
    display: inline;
    
}


/* @media screen and (max-width: 940px){
    .text {
        height: 7vh;
    }

    .text h1 {
        font-size: 1rem;
        font-size: 2.5rem;
    padding-top: 100px;
    margin-left: 230px;
    margin-top: 70px;
    }

    .text p {
        font-size: 0.9rem;
        margin-right: 100px;
        margin-left: 100px;
    }

    .good img{
        height: 200px;
        border-radius: 10px;
        width: 600px;
        margin-top: -120px;
    }
    
  } */