.place {
    width: 90%;
    margin: 4rem;
    text-align: center;
}


.place > div {
    display: flex;
    justify-content: center;
}

.place > div p{
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

.prop {
    font-weight: 700;
}

.place .apart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
}

.place img{
    width: 100%;
    height: 350px;
    width: 580px;
}
















