.footerContact {
    background-color: #1E1402;
    padding: 40px 0;
    color: #fff;
  }


  .footerContact h1 {
    font-size: 70px;
    color: white;
  }

  span {
    color: #40A989;
}

  .text p {
    color: white;
  }

  footer {
    background-color: #1E1402;
    padding: 50px 0;
    color: #fff;
  }

  footer .container {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 1fr;
    grid-gap: 20px;
  }

  footer img {
    width: 150px;
  }

  footer h2 {
    font-weight: 600;
    color: white;
  }

  footer p {
    color: white;
    margin: 20px 0;
  }

  footer input {
    background-color: rgb(208, 208, 228);
    padding: 17px;
    width: 100%;
    border-radius: 5px;
  }

  footer h3 {
    font-weight: 600;
    margin-bottom: 30px;
    color: white;
  }

  footer ul {
    display: block;
  }


  footer ul li {
    display: block;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
  }


  .legal {
    text-align: center;
    padding: 20px;
    
    color: blueviolet;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }